/* Empty. Add your own CSS if you like */
.main-wrap{
  max-width:250px;
  margin:auto
}
.row, .col{
  text-align:center;
}

.col{
  margin:5px !important;
  border-radius: 8px !important;
  padding:15px 0px !important;
}

.right{
  text-align: right;
}

.button{
  font-size: 30px;
}

.button-small{
  font-size: 18px;
}

.result{
  font-size: 38px;
}
